*{
margin:0;
list-style: none;
text-decoration: none;
}

body{text-decoration: none;width: 100vw; height: 100vh;
background-image: url('tetris.jpg');
}

#h1-container{
Margin-bottom:50px;
margin-top: 50px;

}


.block-dimensions{
width: 50px;
height: 50px;
background-color: none;

}

#shape-grid{display:grid; 
  margin: auto;
  grid-template-columns: repeat(10, 50px);
  grid-gap:3px;
  grid-template-rows: repeat(20, 50px);
  width:fit-content;
  padding: 5px;
  background-color: rgb(253, 254, 254);
  padding: 2vw;
  border-radius: 6px;
  border: 1px solid black;
  margin-top: 40px;
  margin-bottom: 40px;
  grid-template-areas:
  
  
  
  "one two three four five six seven eight nine"
   " ten eleven twelve thirteen fourteen fifteen sixteen seventeen eighteen "
  "nineteen twenty twentyone twentytwo twentythree twentyfour twentyfive twentysix twentyseven "
  "twentyeight twentynine thirty thirtyone thirtytwo thirtythree thirtyfour thirtyfive thirtysix"

  
  ;
  }
  
  .blocks{background-color: blue;width: 49px; height: 49px;}

  

  .square-containers{background-color:rgb(5, 5, 5);padding: 1px;}
  
  
  #button-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50vw;
    height: 10vh;
    color: black;
    margin: auto;
    display: solid;
    background-color: none;
  }
  
#button-container-2{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
    width: 50vw;
    height: 10vh;
    color: black;
    margin: auto;
    display: solid;
    background-color: none;
    margin-top: 70px;
  }


.tetrimino-btn{ border-radius: 50%; width: 16vw; height: 16vw; background-color: rgb(0, 145, 234); color: white; z-index: 1;}
.game-operators{width: 15vw; height: 6vw; font-weight: bold; font-size: 30px; border-radius: 1vw;}
#start{background-color: red; color: white;}
#pause{background-color: rgb(74, 249, 65); color: white;}

  #create-shapes,#pause-game{
height: 50px;
width: 250px;
    font-size: 25px;
  }

  #pause-game{color: white; background-color: red; box-shadow: 1px 1px 2px  white;}

/* foooter styling  */
footer{color: white; background-color: rgb(43, 41, 41); padding: 4rem 2rem;}


/* footer content container*/
#content-container{
    display: flex; margin-bottom: 4rem;
      width: 90%;   font-weight:bold; font-size:20px; 
}

/* footer link contaners */
.footer-column{display: flex; flex-direction: column; flex-basis: 20%; flex-grow: 1; text-align: center; }


/* link styles */
footer a{color: white; text-decoration: none; line-height: 2rem;}
footer a:hover{color: orange; }

/* styles for social media icons*/
.fa-youtube{color: red; ;}
.fa-linkedin{color: #0073B1;}
.fa-facebook{color:#0C87EF ;}

.footer-social{font-size: 20px; margin-left: 2rem;}

/* footer bottom */
.footer-bottom{display: flex; background-color: white; border-radius: 1rem; height: 3rem; color: black; padding: 1rem; outline:0.2rem solid black ; outline-offset: -0.4rem;}
.footer-bottom span{margin-right: auto; font-size: 20px;font-weight: bold;}

h3{text-decoration: underline;}

#my-page{ color: white;}
#my-page-link{ font-size: 27px;}

/* styling for dev icon*/
#dev-icon{color: rgb(84, 243, 243);}

