

/* NON FUNCTIONAL AND NON CLOCK ELEMENTS */
h1{color: white; font-size: 45px;}
footer{color: white; margin: auto; margin-top: 110px; width: 600px; height: 30px; text-align: center; font-weight:bold; font-size:20px;}
body{background-image: url('clock.jpg'); height: 1000px;}
.headpara{text-align: center; margin-bottom: -40px; font-size: 70px;color: yellow;}

/*  LABLES FOR HOUR, MIN, SECONDS */
.label{ width: 530px; color: white; font-size: 35px; text-align: center; font-weight: bold;}
#label-el{display: flex; justify-content: space-around;}
#label-container{width: 530px; height: 10px; margin: auto; margin-bottom: -35px; }/*  LABLES 

/*  ELEMENTS CONTAINING TIME CHANGES */
#clock-el{display: flex; justify-content: space-around;}
#clock-container{width: 530px; height: 150px; margin: auto;}
.time-el{ width: 140px; height: 140px; background-color: rgba(19, 43, 89,0.9); color: white; border-radius: 10px;font-size: 100px; font-family: 'Anton', sans-serif; letter-spacing:5px; text-align: center; box-shadow: 3px 3px 7px rgb(10, 10, 10);}


/*  START AND RESET BUTTONS */
#btn-container{display:flex; width: 700px; height: 180px; margin: auto;margin-top: 20px;  margin-top:100px;}

#pause,#start{background-color: rgb(132, 210, 247);width:120px; height:70px; border-style:solid; border-radius:7px; border-width:3px; border-color:black;  color:white; text-transform: uppercase;font-weight:bold; font-size:20px; box-shadow: 2px 2px 7px rgb(250, 248, 248); text-shadow: 2px 2px 2px black; margin-right: 10px;}
#pause:active, #start:active{width:118px; height:68px;box-shadow: 2px 2px 2px rgb(250, 248, 248); background-color: chartreuse;}

.btn-primary, .function{background-color: rgb(132, 210, 247); width:120px; height:70px; border-style:solid; border-radius:7px; border-width:3px; border-color:black;  color:white; text-transform: uppercase;font-weight:bold; font-size:15px; box-shadow: 2px 2px 7px rgb(250, 248, 248); text-shadow: 2px 2px 2px black; margin-right: 10px;}



/*  CONSOLE LOG BUTTON */
#console-log{width:150px; height:70px; border-style:solid; border-radius:7px; border-width:3px; border-color:black; background-color:rgb(57, 162, 227); color:white; text-transform: uppercase;font-weight:bold; font-size:20px; box-shadow: 2px 2px 7px rgb(250, 248, 248); text-shadow: 2px 2px 2px black;}
#console-log:active{width:148px; height:68px;box-shadow: 2px 2px 2px rgb(250, 248, 248);}

#console{width: 150px;  margin: auto; margin-top: 100px;}

/*  DIV FOR SAVED TIMES CONTAINER */
#timesave-el-outer{ opacity: 0; display: flex; justify-content: space-around; width: 305px; height: 95px; background-color: rgba(168, 50, 117,0.6); position: absolute; border-radius: 6px; padding: 5px; box-shadow: 3px 3px 7px rgb(10, 10, 10); margin-left: 230px; margin-top: 350px;}

/*  SAVED TIMES DIGITS CONTAINER */
#time-save-container1{ width: 295px; display: flex; justify-content: space-around;}

/*  CLASS FOR SAVE DIGIT ELEMENTS */
.save-el{ width: 105px;height: 95px;background-color: white;border-radius: 5px;font-size: 60px; ;font-family: 'Anton', sans-serif;text-align: center;margin-top: 1px; margin-left: 5px; margin-right: 5px;}

/*  TIME MEASURE INDICATOR FOR EACH DIGIT ELEMENT secs/mins/hours */
#save-sec::after{
    content: "s";
    font-size: 22px;
    margin-right: -3px;
    margin-left: 5px;
    }
    
    #save-min::after{
    content: "m";
    font-size: 22px;
    margin-right: -3px;
    margin-left: 5px;
    }
    
    #save-hour::after{
    content: "h";
    font-size: 22px;
    margin-right: -3px;
    margin-left: 5px;
    }


#save-select{
    width: auto;
    height: 80px;
margin-top: 10px;
margin-right: -90px;
margin-left: 20px;
font-size: 20px;
font-weight: bold;
border-radius: 50%;
color: red;
background-color: yellow;
}
#left-arrow{
    
    font-size: 90px;
    margin-right: 30px;
   color: yellow;
  
}
#left-arrow:hover{
     text-shadow: 2px 2px 4px white;
}


#right-arrow{
    
    font-size: 90px;
    margin-left: 30px;
    color: yellow;
}
#right-arrow:hover{
    text-shadow: 2px 2px 4px white;  
}




#button-grid{display: grid;
    grid-gap: 5px;
    width: 465px; height:278px ;
margin: auto;
margin-top: 20px;
grid-template-rows: repeat(3, 85px);
grid-template-columns: repeat(5, 85px);
grid-template-areas: 
"one two three blank set"
"four five six blank del"
"seven eight nine zero cncel"
;
border-radius: 10px;
background-color: darkslategrey;
margin-bottom: -50px;
padding: 5px;
box-shadow: 1px 1px 3px black;
}

#zero{grid-area: zero;}
#one{grid-area: one;}
#two{grid-area: two;}
#three{grid-area: three;}
#four{grid-area: four;}
#five{grid-area: five;}
#six{grid-area: six;}
#seven{grid-area: seven;}
#eight{grid-area: eight;}
#nine{grid-area: nine;}
#del{grid-area: del;}
#set{grid-area: set;}
#cncel{grid-area: cncel;}












.number{border-radius: 50px; font-size: 20px;
font-weight: bold;color: white; background-color: 
rgba(19, 43, 89,0.7);
box-shadow: 1px 1px 3px white;}
.number:hover{background-color: rgb(84, 119, 221);}

.del{border-radius: 50px; font-size: 20px;
font-weight: bold; color: black; background-color: yellow;
box-shadow: 1px 1px 3px white;}
.del:hover{background-color: rgb(235, 220, 20); color: rgb(240, 22, 22);}

.cncel{border-radius: 50px; font-size: 18px;
font-weight: bold;color: white; background-color: rgb(57, 162, 227);
box-shadow: 1px 1px 3px white;}
.cncel:hover{background-color: rgb(228, 19, 19); color: white;}

.set{border-radius: 50px; font-size: 18px;
font-weight: bold;color: white; background-color: rgb(57, 162, 227);
box-shadow: 1px 1px 3px white; }
.set:hover{background-color: rgba(19, 43, 89,0.9); color: white;}

#time-set-container{width: 350px;height: 80px; margin:auto;background-color: darkslategrey;display: flex; justify-content: space-around; border-radius: 7px;}

.set-el{width: 50px;height: 50px;background-color: white;border-radius: 3px;font-size: 35px; ;font-family: 'Anton', sans-serif;text-align: center;margin-top: 15px;}



.time-save-container1,.time-save-container2,.time-save-container3,.time-save-container4,.time-save-container5,.time-save-container6{ display: flex; justify-content: space-around;}


#set-one::after{
content: "s";
font-size: 17px;
margin-right: -10px;
margin-left: 5px;
}

#set-three::after{
content: "m";
font-size: 17px;
margin-right: -10px;
margin-left: 5px;
}

#set-five::after{
content: "h";
font-size: 17px;
margin-right: -10px;
margin-left: 5px;
}


    




.timeset-elb{display: none;}

#timeset-el{background-color: rgb(132, 210, 247);width:120px; height:70px; border-style:solid; border-radius:7px; border-width:3px; border-color:black;  color:white; text-transform: uppercase;font-weight:bold; font-size:18px; box-shadow: 2px 2px 7px rgb(250, 248, 248); text-shadow: 2px 2px 2px black; margin-right: 10px;}

#pause:active, #start:active{width:118px; height:68px;box-shadow: 2px 2px 2px rgb(250, 248, 248); background-color: chartreuse;}

