

/* NON FUNCTIONAL AND NON CLOCK ELEMENTS */
h1{color: white; font-size: 45px;}
footer{color: white; margin: auto; margin-top: 110px; width: 600px; height: 30px; text-align: center; font-weight:bold; font-size:20px;}
body{background-image: url('clock.jpg'); height: 1000px;}
.headpara{text-align: center;}

/*  LABLES FOR HOUR, MIN, SECONDS */
.label{ width: 530px; color: white; font-size: 35px; text-align: center; font-weight: bold;}
#label-el{display: flex; justify-content: space-around;}
#label-container{width: 530px; height: 10px; margin: auto; margin-bottom: -35px; }/*  LABLES 

/*  ELEMENTS CONTAINING TIME CHANGES */
#clock-el{display: flex; justify-content: space-around;}
#clock-container{width: 530px; height: 150px; margin: auto;}
.time-el{ width: 140px; height: 140px; background-color: rgba(19, 43, 89,0.9); color: white; border-radius: 10px;font-size: 100px; font-family: 'Anton', sans-serif; letter-spacing:5px; text-align: center; box-shadow: 3px 3px 7px rgb(10, 10, 10);}


/*  START AND RESET BUTTONS */
#btn-container{display:flex; width: 650px; height: 90px; margin: auto;margin-top: 20px;  margin-top:100px;}

#pause,#start{background-color: rgb(132, 210, 247);width:120px; height:70px; border-style:solid; border-radius:7px; border-width:3px; border-color:black;  color:white; text-transform: uppercase;font-weight:bold; font-size:20px; box-shadow: 2px 2px 7px rgb(250, 248, 248); text-shadow: 2px 2px 2px black; margin-right: 10px;}
#pause:active, #start:active{width:118px; height:68px;box-shadow: 2px 2px 2px rgb(250, 248, 248); background-color: chartreuse;}

.btn-primary, .function{background-color: rgb(132, 210, 247); width:120px; height:70px; border-style:solid; border-radius:7px; border-width:3px; border-color:black;  color:white; text-transform: uppercase;font-weight:bold; font-size:15px; box-shadow: 2px 2px 7px rgb(250, 248, 248); text-shadow: 2px 2px 2px black; margin-right: 10px;}



/*  CONSOLE LOG BUTTON */
#console-log{width:150px; height:70px; border-style:solid; border-radius:7px; border-width:3px; border-color:black; background-color:rgb(57, 162, 227); color:white; text-transform: uppercase;font-weight:bold; font-size:20px; box-shadow: 2px 2px 7px rgb(250, 248, 248); text-shadow: 2px 2px 2px black;}
#console-log:active{width:148px; height:68px;box-shadow: 2px 2px 2px rgb(250, 248, 248);}

#console{width: 150px;  margin: auto; margin-top: 100px;}




#button-grid{display: grid;
    grid-gap: 5px;
    width: 180px; height: 300px;
margin: auto;
margin-top: 20px;
grid-template-rows: repeat(5, 55px);
grid-template-columns: repeat(3, 55px);
grid-template-areas: 
"one two three"
"four five six"
"seven eight nine"
"zero del cncel"
"set blank blank";
border-radius: 10px;
background-color: darkslategrey;
margin-bottom: -50px;
padding: 5px;
box-shadow: 1px 1px 3px black;
}

#zero{grid-area: zero;}
.number{border-radius: 50px; font-size: 20px;
font-weight: bold;color: white; background-color: 
rgba(19, 43, 89,0.7);
box-shadow: 1px 1px 3px white;}
.number:hover{background-color: rgb(84, 119, 221);}

.del{border-radius: 50px; font-size: 20px;
font-weight: bold; color: black; background-color: yellow;
box-shadow: 1px 1px 3px white;}
.del:hover{background-color: rgb(235, 220, 20); color: rgb(240, 22, 22);}

.cncel{border-radius: 50px; font-size: 18px;
font-weight: bold;color: white; background-color: rgb(57, 162, 227);
box-shadow: 1px 1px 3px white;}
.cncel:hover{background-color: rgb(228, 19, 19); color: white;}

.set{border-radius: 50px; font-size: 18px;
font-weight: bold;color: white; background-color: rgb(57, 162, 227);
box-shadow: 1px 1px 3px white; }
.set:hover{background-color: rgba(19, 43, 89,0.9); color: white;}

#time-set-container{width: 350px;height: 80px; margin:auto;background-color: darkslategrey;display: flex; justify-content: space-around; border-radius: 7px;}

.set-el{width: 50px;height: 50px;background-color: white;border-radius: 3px;font-size: 35px; ;font-family: 'Anton', sans-serif;text-align: center;margin-top: 15px;}

#set-one::after{
content: "s";
font-size: 17px;
margin-right: -10px;
margin-left: 5px;
}

#set-three::after{
content: "m";
font-size: 17px;
margin-right: -10px;
margin-left: 5px;
}

#set-five::after{
content: "h";
font-size: 17px;
margin-right: -10px;
margin-left: 5px;
}

.timeset-elb{display: none;}

#timeset-el{background-color: rgb(132, 210, 247);width:120px; height:70px; border-style:solid; border-radius:7px; border-width:3px; border-color:black;  color:white; text-transform: uppercase;font-weight:bold; font-size:18px; box-shadow: 2px 2px 7px rgb(250, 248, 248); text-shadow: 2px 2px 2px black; margin-right: 10px;}

#pause:active, #start:active{width:118px; height:68px;box-shadow: 2px 2px 2px rgb(250, 248, 248); background-color: chartreuse;}

