*{
text-decoration: none;
}
#increment-btn{ background-color: hsl(359deg, 90%, 30%); color: white; solid; border-radius: 5px; height: 50px; width:180px; font-size: 20px; padding: 10px 0px 10px 0px; /*box-shadow: 2px 2px 3px hsl(206deg, 79%, 66%);*/ margin-left: 20px; }

#save-btn{background-color: green; height: 50px; width:180px; font-size: 20px; padding: 10px 0px 10px 0px;margin-left: 20px;  color: white; margin-top:5px;}

body {
 background-image: url("busy station.jpg");z-index:-1;
}


h2{color: white; /*margin-left: 90px; */font-size: 70px; text-align: center;}
h1{color: white; text-align: center; }

#empty{width: 220px; border-radius: 5px; opacity:0.9; padding-bottom: 0px; }

#counter-box{ box-shadow: 2px 2px 7px black; padding: 5px 5px 20px 5px; width: 220px; border-radius: 5px; margin: auto; margin-top: 50px;background-color: rgb(179, 193, 196); /*background-image: url(tube-station.jpg);*/ background-size: 280%;}

/* NOTE ON BUTTONS: you could have had a button container within the counter-box, and then for the two buttons, you would, display:flex; flex-direction: column; align-items:center; and then add a little padding to each button. But you didn't realize you were making 2 buttons initially so go back and see if you can re-work the html once  you've finished the project.
 */

#save-el{ color: white; font-size: 20px; text-align: center;}


#nike-shoe-container{margin: auto; margin-top: 70px; text-align: center; border-style: solid; border-color: black; border-width: 2px; padding: 10px; width: 250px; border-radius: 8px; background-color: red; margin-bottom: 100px; }
#nike-shoes{ width: 200px; height: auto; }
#shoe-para{ font-size: 18px; }
#pricing{ width:180px; height:50px;  font-size: 20px;}
#error-el{color: white; font-size: 20px;}

#calculator-container{ width: 200px; margin: auto;
 display: flex; flex-direction: column; align-items: center; border-style: solid; border-color: black; border-width: 2px; padding: 15px; border-radius: 5px; background-color: hsla(4deg, 1%, 74%, 0.5);}
 
 #top-buttons{padding-bottom: 40px;}
 #top-span{padding-bottom: 20px;}
 #bottom-button{padding-bottom: 40px;}
 span{text-decoration: underline; }
 button{height: 30px;}
 
 #blackjack-container{ padding-top:7px; margin: auto; color: white; margin-top: 20px; background-image: url(cardgame-background.jpg); width: 290px;
 height: 280px; background-size: 160%; text-align: center;  font-family: sans-serif; font-weight: bold; margin-bottom: 500px;}
 
 #message-el{font-style: italic;}
 
 #game-name{ color: orange;}
 
#game-start{font-weight: bold; color: green; background-color: orange; border: none;width: 150px; border-radius: 3px; font-size:17px; text-transform: uppercase;}
 
#new-card{font-weight: bold; color: green; background-color: orange; border: none;width: 150px; border-radius: 3px; font-size:17px; text-transform: uppercase; margin-top: 5px;}
 
 
 
 
 
 
 
 
 
 
 
 
 
 