*{
margin:0;
list-style-type: none;
text-decoration: none;
}


body{font-family: 'Roboto', sans-serif; }



body{width: 100%; height: 100%; background-color: rgb(255, 255, 255);}
header{background-color: grey; color: white; padding: 15px; text-align: center; margin-bottom: 20px;}







/* CODEPEN STYLING*/



body{font-family: 'Roboto', sans-serif; }


#screen-body{
 position: relative;
  width:80vw;
  aspect-ratio: 10/21;
  background-color:rgba(106, 198, 235,0.2);
  position:relative;
  padding:8px;
  border-radius:20px;
  border: 0.5px solid black;
  margin: auto
  ;

}

.modal{
  position:absolute;
  height:98%;
  width:98%;
  background-color:rgba(90, 205, 240, 0.719);
  border: 0.5px solid black;
  border-radius:20px;
  text-align:center; 
}

#verify-items,#get-list,#add-to-basket,#complete-purchase,#get-delivery,#re-stock,#product-select,#view-added-items,#msg-modal,#shopping-list,#delete-items,#add-items,#upload-modal,#downloaded-list,#hold-item,#basket-list,#checkout-list,#add-product,#select-add-category,#add-category,#new-item-or-category{display:none;}


#msg-modal{z-index: 3; background-color:rgba(223, 64, 64, 0.822); flex-direction: column; justify-content: space-around; align-items: center;}

#button-holder{
 width:100%;
 aspect-ratio: 5/12;
  display:flex; flex-direction:column; justify-content:space-around;
    align-items:center;
    border: 0.5px solid black;
  border-radius:20px;
   padding:8px;
   display: none;
}

.buttons{height:30px;
width:fit-content;
}

#test-app{
  display: none;
  position: relative;
    border: 0.5px solid black;
  border-radius:20px;
    padding:8px;
    margin-top:50px;
    width: 200px;
    height: 420px;
  margin:auto;


}
h4{font-size:55px ;}



h2{ width:fit-content;
  height:fit-content; display:inline;
  font-size: 50px;
}


h1{ width:fit-content;
  height:fit-content; display:inline; font-size: 90px;}

.categories{width:100%;  aspect-ratio: 4/1; background-color:white;
  border-bottom:1px solid rgba(194, 193, 192,0.3);
  display:flex; flex-direction: row;justify-content:space-between;
  align-items: center;
  }



.categories:hover{background-color:rgb(235, 236, 237);
cursor:pointer;}

#category-container{
 width:100%;
 aspect-ratio: 20/33;
      overflow-x: hidden;
  overflow-y: auto;
}

.category-para{font-size: 55px;}

#shopping-list-items,#delete-added-items,#upload-modal-content,#create-modal-content{
  width:100%;
  aspect-ratio: 20/33;
  background-color: white;
  overflow-x: hidden;
  overflow-y: auto;
}


img{display:inline-block;
  width:20%;
  aspect-ratio: 1/1;
  border: none;
  margin-top:4px;
  margin-right: 10px;
}
p{
  display:inline;background-color:rgba(255, 255, 0, 0); height: fit-content;
  margin-left: 10px;
}

::-webkit-scrollbar {
  width: 0px;
}


#items-for-selection, .list-for-upload, #just-added-items{
width:98%;
aspect-ratio: 49/85;

margin: auto;
margin-bottom: 10px;
background-color: white;
border-radius: 5px;
display: flex; 
justify-content: space-around;
flex-wrap:wrap;
align-content: flex-start;
padding-top: 5px;
overflow-x: hidden;
overflow-y: auto;
}

#item-btns{
  display: inline-block;
  width: 100%; height: fit-content;
  margin-top: 2%;

  }



.choice-btns{
  width: 98%; height: fit-content;
display: flex; flex-direction: row; align-items: center; justify-content: space-around;
}

.back-btn{position: absolute;
  bottom: 7%; left: 5%;
  display: inline-block;
  width: 13%; aspect-ratio: 1/1;
border-radius: 50%;
background-color: rgba(72, 72, 243, 0.637);
border-style: none;
}
.back-btn:hover{outline: 2px solid white; outline-offset: 2px;}
#back-arrow-img{  width: 100%; aspect-ratio: 1/1; position: absolute; top: -4px; left: 1px;}





/* below are the classes that need to be added to elements created in Javascript and dynamically loaded onto the 'select' modal, when an item category is selected on the main page*/



/* div for holding image and checkbox */
.image-checkbox-holder{position: relative; width: 45%; height: fit-content; border: 0.2px solid rgba(190, 188, 188, 0.459); margin-top: 5px; display: block;}
.image-checkbox-holder:hover{cursor: pointer;}


/* check box and itemized image */
.checkbox{position: absolute; width: 15%; height: 15%;}
.checkbox-delete{position: fixed;}
.item-image{width: 100%; aspect-ratio: 1/1; display: inline-block;}
.select-label{font-size:40px; font-weight:bold;}



.alert-para-container{ width: fit-content; height: fit-content;}
#alert-heading{font-size: 80px; color: rgb(255, 0, 0); background-color: rgb(249, 250, 250); padding: 20px; border-radius: 17px; }
#alert-para{ color: white;font-size: 45px;}
#alert-modal-close{width: 25%; aspect-ratio: 1/1; background-color: yellow; font-size: 85px; font-weight: bold; border-radius: 50%;}
#alert-modal-close:hover{cursor: pointer;}
.added-div{width: fit-content; height: fit-content;}
#alert-heading-container{width: fit-content; height: auto; margin-top: 5%;}



.save-div{display: flex; justify-content: space-around; align-items: center;}
#main-page-content,#upload-modal-content,#purchase-content, #just-added-content, #delete-this-item{
  background-color: white;
  width: 100%;
  aspect-ratio: 20/33;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

}


.main-page-btn{
  width: fit-content;
padding: 15px;
font-size: 65px;
font-weight: bold;
border-radius: 20px;
color: white;
background-color:rgb(147, 147, 248) ;
border-style: none;
}
.main-page-btn:hover{cursor: pointer;}

#delete-added-items{
  width: 100%;
  aspect-ratio: 10/17;
display: flex;
flex-direction: column;
justify-content: space-around;
align-items: center;

}



#choice-btns-shoplist{display: flex; flex-direction: row; width: 100%; height: fit-content; justify-content: space-around; padding: 2px; background-color: rgba(255, 255, 255, 0); margin-top: 2px; border-radius: 7px; position: relative;}
#view-shoplist, #view-shopping-list,#reject-new{width: 35%; height: fit-content; outline-color: white; outline-offset: 1px; outline-width: 1px; margin-top: 24x; padding: 0px;background-color: rgba(247, 23, 23, 0.89); padding: 8px 0px;}
#reject-new{display: none;}
#return-to-main{width: 50%;}
#upload-img{width: 25%; aspect-ratio: 1/1;  background-color: white; border-radius: 50%; display: inline-block;}
#upload-img:hover{cursor: pointer;}


#upload-btn-container{height: 52px; width: 140px; display: flex; flex-direction: row; justify-content: space-around; align-items: center;}
#upload-para{background-color: orange; display: inline;}


.navigate-btn{ margin: 5px;font-size: 50px; border-style: none; background-color: rgb(120, 120, 240); border-radius: 4px; color: white; font-weight: bold;}
.navigate-btn:hover{cursor: pointer;outline: 2px solid rgb(70, 70, 247); outline-offset: 3px;}


#select-items{width: 50%; margin: 0px 0px 0px 20px;font-size: 50px; border-style: none; background-color: rgb(54, 245, 96); border-radius: 4px; color: white; font-weight: bold; outline: 2px solid rgba(255, 255, 255, 0); outline-offset: 3px;}
#select-items:hover{cursor: pointer; outline-color: white;}

.delete-this-item{position: relative;}
.item-checkbox-holder{position: relative; width: 40%; aspect-ratio: 1/1; border: 1px solid black;}


.delete-image{width: 15%; aspect-ratio: 1/1; position: absolute; margin: 5px;}
.div-clone{position:relative; border: 0.5px solid rgba(190, 188, 188, 0.559); height:fit-content; border-radius:5px; margin-top: 3px; margin-right:3px;}
.div-clone:hover{cursor: pointer;}


#delete-choice-btns{ width: 100%; display:flex; flex-direction: column; height: 40%; justify-content: space-around; background-color: rgba(255, 255, 0, 0); align-items: center;}
.delete-choice{width: fit-content; height: 50px; display: inline-block;}
#confirm-delete{background-color: rgba(255, 0, 0, 0.863);}
#cancel-delete{background-color: yellow; color: rgba(0, 0, 0, 0.658);}

#upload-blob{
  padding: 12px; background-color: rgba(0, 0, 0, 0.808); color: white; border-radius: 20px; font-size: 13px; position: absolute; top: -40px; left: 5px; display: none;
}

#home-btn, #add-more{width: 17%; aspect-ratio: 1/1; border-radius: 50%; background-color: rgb(120, 120, 240); border-style: none; }
#home-btn:hover{outline: 2px solid white; outline-offset: 2px; cursor: pointer;}
#home-icon,#home-icon-product-creation, #add-icon{width: 80%; aspect-ratio: 1/1; display: inline-block; margin: 0px;}
#btn-container-category, #btn-container-category-adder{ width: 100%; height: fit-content; margin-top: 3%; display: flex; justify-content: space-around; align-items: center;}


#add-more{padding: 4.5px;}
#add-more:hover{cursor: pointer;outline: 1px solid rgb(255, 255, 255); outline-offset: 1px;}


#hold-modal-content{
  width: 100%;
aspect-ratio: 10/17;
display: inline-block;
background-color: white;
}


#basket-modal-content{
  width: 100%;
  aspect-ratio: 10/17;
display: inline-block;
background-color: white;
overflow-x: hidden;
overflow-y: auto;
}



.hold-btn{width: 20%; aspect-ratio: 1/1; border-radius: 50%; border-style: none; font-size: 60px;}
.hold-btn:hover{cursor: pointer;background-color:white;}

#hold-item-btn-container{margin: auto; width: 70%; height: fit-content; margin-top: 3%; padding: 1%; display: flex; flex-direction: row; justify-content: space-around; align-items: center; background-color: rgb(98, 135, 238); border-radius: 40px;}
#pick-value{display: inline; width: fit-content; margin: 0px; font-size: 50px;}
#hold-btn-holder{margin:auto;  padding:1%; width: 90%; height: fit-content; display: flex; flex-direction: row; justify-content: space-around; background-color: rgba(255, 255, 0, 0);margin-top: 3%; }

.back-btn-hold,.back-btn-basket{
  display: inline-block;
  width: 15%; aspect-ratio: 1/1;
border-radius: 50%;
background-color: rgba(72, 72, 243, 0.637);
border-style: none;
}



.back-btn-hold:hover{outline: 2px solid white; outline-offset: 2px; position: relative; cursor: pointer;}
.back-arrow2-img{width: 90%; aspect-ratio: 1/1; margin: 0px; display: inline-block; margin-top: 2px;}
.navigate-btn-hold,#navigate-btn-basket{ font-size: 50px; border-style: none; background-color: rgb(120, 120, 240); border-radius: 8px; color: white; font-weight: bold;}
.navigate-btn-hold:hover,#navigate-btn-basket:hover{cursor: pointer;outline: 2px solid rgb(241, 241, 247); outline-offset: 2px;}

.navigate-btn-basket,#navigate-btn-basket{ font-size: 50px; border-style: none; background-color: rgb(120, 120, 240); border-radius: 8px; color: white; font-weight: bold; padding: 8px; margin-right: 3px;}
.navigate-btn-basket:hover,#navigate-btn-basket:hover{cursor: pointer;outline: 1px solid rgb(241, 241, 247); outline-offset: 2px;}

/* STYLING FOR OTHER END OF PROCESS - THE SHOPPING MODALS*/


#downloaded-modal-content{
  background-color: white; 
  width: 100%;
aspect-ratio: 10/17;
  margin: auto;
  display: flex; 
  justify-content: space-around;
  flex-wrap:wrap;
  align-content: flex-start;
  padding-top: 5px;
  overflow-x: hidden;
  overflow-y: auto;
}

/* PRODUCT HOLDER IN 'PICK ITEM' (FOR BASKET) MODAL*/
.image-div-shop{position: relative; margin-right: 4px; width: 40%; height: fit-content; display: inline-block; margin-top: 10px;
  border: 0.2px solid rgba(190, 188, 188, 0.5);}
  .image-div-shop:hover{cursor: pointer;}


/* PRODUCT HOLDER IN 'ADD TO BASKET' MODAL (LARGER ELEMENTS) */
.image-div-shop-large{position: relative; margin: auto; margin-top: 30px; margin-bottom: 20px; width: 95%; height: fit-content; display: inline-block; 
  border: 0.2px solid rgba(190, 188, 188, 0.5);}
  .image-div-shop-large:hover{cursor: pointer;}


  /* ADD TO BASKET formatting - regular classes are for the 'pick an item' container, large classes are for the 'add to basket' container */
  
  #basket-btn-holder{width: 100%; height: fit-content; margin-top: 3%; display: flex; flex-direction: row; justify-content: space-around; }

  .plus-icon{ width: 16%; aspect-ratio: 1/1; position: absolute; margin: 5px;}
  .plus-icon-large{ width: 15%; aspect-ratio: 1/1; position: absolute; margin: 5px;}
  .pick-item-image{ width: 100%; aspect-ratio: 1/1; display: inline-block;}
  .pick-item-image-large{ width: 90%; aspect-ratio: 1/1; display:inline-block; margin:0px}
  .product-label{font-size:30px; font-weight:bold;}
  .product-label-large{font-size:40px; font-weight:bold;}




  #view-basket-btn-container{width: 100%; height: fit-content; margin-top: 3%;}
  #view-basket-btn{padding:7px; margin-top: 8px;}
  #view-basket-btn:hover{outline-color: white;}
  .item-amount-icon{width: 10%; aspect-ratio: 1/1; position: absolute; margin: 1px; background-color: red; color: white; border-radius: 50%;border: 2px solid black; display: flex; justify-content: space-around; align-items: center; font-size: 15px; font-weight: bold; padding: 2px;}

  /* CHECKOUT STYLING*/
  #checkout-btn-holder{width: 100%; height: fit-content; display: flex; flex-direction: row; justify-content: space-around; margin-top: 3%;}
  #checkout-container{
    width:98%;
aspect-ratio: 49/85;
     margin: auto;
     background-color: rgb(194, 48, 48);
     border-radius: 5px;
       overflow-y: auto;

   }

   .product{height: 10%; width:98%; margin: auto; background-color:white;
    border-bottom:1px solid rgba(194, 193, 192,0.3);
    display:flex; flex-direction: row;justify-content:space-between;
    align-items: center;  margin-top: 2px; border-radius: 3px;
    }


    .checkout-status-img{
      margin: 0px;
      width: 13%; aspect-ratio: 1/1;
      margin-left: 4px;
    }


  .checkout-para{margin: 0px; font-size: 50px;}

  .product-item-count{  width: 13%; aspect-ratio: 1/1; background-color: red; color: white; border-radius: 50%;border: 2px solid black; display: flex; justify-content: space-around; align-items: center; font-size: 50px; font-weight: bold; padding: 2px;     margin-right: 4px;}


  #separator{background-color: rgba(255, 255, 0, 0.911);font-size: 50px; font-weight: bold; display: flex; justify-content: space-around; align-items: center;}


  .create-btn{margin: auto; font-size: 50px;}
  #create-modal-content{display: flex; flex-direction: column; justify-content: space-around;}

  /* ADDITIONAL ELEMENTS TO BE ADDED TO PWA APP*/


  #create-menu-para{font-size: 45px;}
  #create-para-container{width: fit-content; height: auto; margin-top: 2%; background-color: rgba(255, 166, 0, 0); margin: auto;}

  #complete-purchase{font-size: 40px;}

  
  /* styling for PRODUCT AND CATEGORY input labels */
  #add-to-label, #product-add-label, #category-add-label{font-size: 35px;}

     /* styling for category adder input*/
     #add-to,  #category-add-to, #category-selector{font-size: 40px; margin-top: 50px;  margin-bottom: 50px;}