*{
margin:0;
list-style-type: none;
text-decoration: none;
}


body{font-family: 'Roboto', sans-serif; }



body{width: 100%; height: 100%; background-color: rgb(255, 255, 255);}
header{background-color: grey; color: white; padding: 15px; text-align: center; margin-bottom: 20px;}







/* CODEPEN STYLING*/



body{font-family: 'Roboto', sans-serif; }

#screen-body{
  height:420px;
  width:200px;
  background-color:rgba(106, 198, 235,0.2);
  position:relative;
  padding:8px;
  border-radius:20px;
  border: 0.5px solid black;

}

.modal{
  position:absolute;
  height:420px;
  width:200px;
  background-color:rgba(168, 50, 86,0.2);
  border: 0.5px solid black;
  border-radius:20px;
  text-align:center;
  
}
#verify-items,#submit-items,#get-list,#add-to-basket,#checkout,#complete-purchase,#get-delivery,#re-stock,#sub-item-select,#added-items,#msg-modal{display:none;}

#button-holder{height:480px; 
 width:200px;
  display:flex; flex-direction:column; justify-content:space-around;
    align-items:center;
    border: 0.5px solid black;
  border-radius:20px;
   padding:8px;
}

.buttons{height:30px;
width:fit-content;
}

#test-app{
    height:500px;
  width:600px;
  display:flex;
  flex-direction:row;
  justify-content:space-around;
    border: 0.5px solid black;
  border-radius:20px;
    padding:8px;
    margin-top:50px;
  margin:auto;

}

h2{ width:fit-content;
  height:fit-content; display:inline;}

.categories{height:50px; width:100%; background-color:white;
  border-bottom:1px solid rgba(194, 193, 192,0.3);
  display:flex; flex-direction: row;justify-content:space-between;
  align-items: center;
  }



.categories:hover{background-color:rgb(235, 236, 237);
cursor:pointer;}

#category-container{
 width:100%;
  height:350px;
      overflow-x: hidden;
  overflow-y: auto;}




img{display:inline-block;
width:40px;
height:40px;
  border: none;
  margin-top:4px;
  margin-right: 10px;
}
p{
  display:inline;background-color:rgba(255, 255, 0, 0); height: fit-content;
  margin-left: 10px;
}

::-webkit-scrollbar {
  width: 0px;
}


#items-for-selection{
width:196px;
height: 340px;

margin: auto;
margin-bottom: 10px;
background-color: white;
border-radius: 5px;
display: flex; 
justify-content: space-around;
flex-wrap:wrap;
align-content: flex-start;
padding-top: 5px;
overflow-x: hidden;
overflow-y: auto;
}

#item-btns{
  display: inline-block;
  width: fit-content; height: fit-content;

  }

.navigate-btn{
  width: 156px; height: fit-content;

}

#choice-btns{
  width: 156px; height: fit-content;
margin: auto;
}

#back-btn{position: absolute;
  bottom: 10px; left: 10px;
  display: inline-block;
  height: 25px; width: 25px;
border-radius: 50%;
background-color: rgba(72, 72, 243, 0.637);
border-style: none;
}
#back-btn:hover{outline: 2px solid white; outline-offset: 2px;}
#back-arrow-img{width: 25px; height: 25px; position: absolute; top: -4px; left: 1px;}




/* below are the classes that need to be added to elements created in Javascript and dynamically loaded onto the 'select' modal, when an item category is selected on the main page*/

/* sub category items appear here */
#select-items{height: 30px;}

/* div for holding image and checkbox */
.image-checkbox-holder{position: relative; width: 80px; height: fit-content; border: 0.2px solid rgba(190, 188, 188, 0.459); margin-top: 5px;}
.image-checkbox-holder:hover{cursor: pointer;}

/* check box and itemized image */
.checkbox{position: absolute;}
.item-image{width: 80px; height: 80px; display: inline-block;}
.select-label{font-size:13px; font-weight:bold;}


#msg-modal{z-index: 3; background-color:rgba(34, 158, 241, 0.822);flex-direction: column; justify-content: space-around; align-items: center;}
.alert-para-container{ width: fit-content; height: fit-content;}
#alert-heading{font-size: 40px; color: rgb(255, 0, 0); background-color: rgb(249, 250, 250); padding: 7px; border-radius: 7px; }
#alert-para{ color: white;font-size: 25px;}
#alert-modal-close{width: 50px; height: 50px; background-color: yellow; font-size: 45px; font-weight: bold; border-radius: 50%;}
#alert-modal-close:hover{cursor: pointer;}