body{width: 100vw;
    height: 100vh;
}

/* container for moves counter*/
#counter-container{
position: absolute;
left: 15vw;
top: 10vw;
height: fit-content;
width: fit-content;
}

#counter{

    font-size: 30px;
    font-weight: bold;
    columns: black;
    text-align: center;
}

#puzzle-body{display:grid; 
grid-template-columns: repeat(4, 50px);
grid-gap:3px;
grid-template-rows: repeat(4, 50px);
width:fit-content;
padding: 5px;
background-color: aqua;
padding: 2vw;
border-radius: 6px;
border: 1px solid black;

grid-template-areas:


"one two three four"
"five six seven eight"
"nine ten eleven twelve"
"thirteen fourteen fifteen sixteen";
}

#calculator-container{ background-color: white; padding:20px;margin:auto;margin-top:200px;
 border-style:solid; border-width:3px; border-color:black; width:fit-content; height: fit-content; border-radius:10px; margin-bottom:100px; box-shadow: 2px 2px 7px rgb(248, 245, 245);
}



/*  default position for numbers, maybe we can change this at the beginning of the game and perhaps even randomize it later*/
#one{ grid-area:one;}
#two{ grid-area:two;}
#three{ grid-area:three;}
#four{ grid-area:four;}
#five{ grid-area:five;}
#six{ grid-area:six;}
#seven{ grid-area:seven;}
#eight{ grid-area:eight;}
#nine{ grid-area:nine;}
#ten{grid-area:ten;}
#eleven{grid-area:eleven;}
#twelve{grid-area:twelve;}
#thirteen{grid-area:thirteen;}
#fourteen{grid-area:fourteen;}
#fifteen{ grid-area:fifteen;}
#sixteen{ grid-area:sixteen;}

#puzzle-container{width: fit-content; height: fit-content;padding: 2vw; background-color: rgba(98, 98, 218, 0.679);margin: auto;margin-top: 1vw; border-radius: 10px; box-shadow: 2px 2px 4px black;}
/* button styling */
button{background-color:black; color:white; border-radius:5px; border-style:hidden; box-shadow: 1px 1px 2px rgb(8, 8, 8); font-size: 30px; height: 45px; width: 45px; }
button:hover{cursor: pointer;}



.square-containers{background-color:white;padding: 1px;}

.draggable{

background-color: red;
}

.hide{
opacity: 0;

}

.move-right{

    transform: translateX(53px);
}

#message-container{
        height: 7%;
        width: 90%;
        margin: auto;
        margin-top: -2vw;

    }
    
    #message-el{font-size: 45px; 
        font-weight: bold; 
        color: black;
        text-align: center;
    }

    #highscore-container{
        height: fit-content;
        width: 70%;
        margin: auto;
        margin-top: -2vw;
        display: none;
    }

    #high-score{
        font-size: 35px; 
        font-weight: bold; 
        color: red;
        text-align: center;
    }

    #scoreclear-container{
        height: fit-content;
        width: 14vw;
        margin: auto;
        margin-top: 2vw;
        display: none;
        background-color: blue;
        padding: 5px;
        border-radius: 5px;
            }

        #score-clear-btn{
            background-color: rgb(200, 198, 198);
            height: 6vw;
            width: 14vw;
            margin: auto;
            font-size: 20px;
            color: white;
            font-weight: bold;
            font-size: 22px;
            background-color: red;
            box-shadow: 1px 1px 3px black;

        }

    #button-container{
        margin-top: 2vw;
        height: 6vw;
        width: 15vw;
        margin: auto;
  
       
    }
    #mix-btn{
        background-color: rgb(200, 198, 198);
        height: 6vw;
        width: 14vw;
        margin: auto;
        font-size: 20px;
        display: block;
        color: black;
        font-weight: bold;
        font-size: 22px;
        
    }

    #chip-container{width: fit-content;
    height: 5vw;
    margin: auto;
    background-color: rgba(0, 0, 255, 0);
    }

    .bars{ width: 2vw; height: 3vw;  background-color: yellow;border: 1px solid black; margin-top: 30px;}


    #progress-bar{width: 34vw;
        height: 4vw;
        margin: auto;
           display: flex;
    justify-content: space-around;
    background-color: rgba(0, 0, 255, 0);
    }

 