

body{background-image: url(./cropped-table\ -\ Copy.jpg);

}


#blackjack-container{ padding-top:7px; margin: auto; color: white; margin-top: 20px; background-color: rgb(32, 157, 215); width: 290px; 
 height: 280px; background-size: 160%; text-align: center;  font-family: sans-serif; font-weight: bold; margin-bottom: 500px;
 
 border-style: solid; border-color: black; border-width: 2px; box-shadow: 2px 2px 3px black;}
 
 #message-el{font-style: italic;}
 
 #game-name{ color: orange;}
 
button{font-weight: bold; color: green; background-color: orange; border: none;width: 150px; border-radius: 3px; font-size:17px; text-transform: uppercase; margin-top: 3px; margin-bottom: 3px;}
 

 