#blackjack-container{ padding-top:7px; margin: auto; color: white; margin-top: 20px; background-image: url(cropped-table.jpg); width: 85%;  height: 90%;  text-align: center;  font-family: sans-serif; font-weight: bold; margin-bottom: 16px; border-style: solid; border-color: black; border-width: 2px; box-shadow: 0.3px 0.3px 10px rgb(99, 98, 95);border-radius:7px;}
 
h1{margin-top:70px;} 
body{width: 100%; height: 76%; background-color: rgb(117, 191, 247);}
 
#clear-table-container{position: relative; width: fit-content; height: auto; margin: auto; background-color: rgba(153, 247, 12, 0); padding: 5px;}

button{font-weight: bold; color: white; background-color: orange; border: none;width: fit-content; border-radius: 3px; font-size:25px; text-transform: uppercase; margin-top:-10px; height:35px;box-shadow: 2px 2px 7px black; }

 
#button-container{width: fit-content; height: auto; background-color: rgba(255, 0, 0, 0); margin:auto;}

#player-btn{display: none;background-color: rgb(55, 163, 217);}
#stand-btn{display: none;background-color: rgb(244, 241, 25); color: rgb(70, 136, 234); font-size: 22px; width: fit-content;}
#reset-btn{display: none; background-color:rgb(250, 38, 15) ; color:white; height: auto; width:fit-content; border-radius:3px; font-size:25px; }

#player-btn:hover, #player-btn:focus{box-shadow: 0.8px 0.8px 2px black; border-style: solid; border-color:white; border-width:2px; cursor:pointer;}

#dealer-btn:hover, #dealer-btn:focus{box-shadow: 0.8px 0.8px 2px black; border-style: solid; border-color:white; border-width:2px; cursor:pointer;}

#stand-btn:hover, #stand-btn:focus{box-shadow: 0.8px 0.8px 2px black;box-shadow: 0.8px 0.8px 2px black; border-style: solid; border-color:white; border-width:2px; cursor:pointer;}

#reset-btn:hover, #reset-btn:focus{ border-style: solid; border-color:white; border-width:2px; cursor:pointer;}

#all-buttons-container{width: 90%; height: fit-content; background-color: rgba(255, 192, 203, 0); display: flex; flex-direction: row; padding: 10px;}
#player-container{background-color: rgba(0, 0, 255, 0); display: flex; flex-direction: row; height: fit-content; width: 96%; margin: auto;}
#dealer-container{background-color: rgba(255, 166, 0, 0); display: flex; flex-direction: row; height: fit-content; width: 96%; margin: auto;}





/* CODE FOR FLIPPING CARDS*/

img{display: block;}

#played-cards-player, #played-cards-dealer{
    width: 520px;
  height: 145px;
  perspective: 1000px;
  margin-top:25px;
   margin-bottom:15px;
    display: flex;
  background-color: rgba(255, 0, 0, 0);
  
  }


  .cards-container{
      width: 100px;
    height: 143px;
    margin-right: 4px;
    position: relative;
    transition: transform 0.3s;
    transform-style: preserve-3d;
    background-color: rgba(0, 0, 255, 0);
     }

  .playing-cards{
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
    
  
  .card-front-face{
    background-color: rgb(234, 84, 226);

        }



  
  .card-back-face{
      background-color: rgb(148, 183, 243);
        transform: rotateY( 180deg );
       }

    .is-flipped {
      transform: rotateY(180deg);
    }
    
    
    


 
label{ text-transform: uppercase;box-shadow: 1px 1px 5px black; background-color:rgb(57, 162, 227); padding:5px;border-radius:3px;}




.scores{margin:auto; width:100px;height: 150px; background-color: white; border-radius: 5px; display: flex; flex-direction: column;justify-content: space-around; padding-right: 2px;}




#random-card{margin-bottom:20px;}


#dealer-score, #player-score{color:rgb(7, 7, 7); text-shadow: 1px 1px 3px black;font-size: 80px;}
p{font-size: 35px; font-style:bold; text-align:center;color: rgb(245, 234, 34); opacity:90%;}




/* MODAL BOX code*/
#button-container{width:200px; margin:auto;}

#rules-btn{width:150px; height:70px; border-style:solid; border-radius:7px; border-width:3px; border-color:black; background-color:rgb(57, 162, 227); color:white; text-transform: uppercase;font-weight:bold; font-size:30px;margin-top:80px; box-shadow: 2px 2px 7px black;  position:fixed; margin-left: 0px;}

#rules-btn:hover, #rules-btn:focus{ background-color:rgb(240, 55, 38); box-shadow: 1px 1px 2px black; cursor:pointer;}

#modal-container{width:90%; margin:auto;}

#close-btn{font-weight:bold; font-size:60px; margin:10px;
color:rgba(245, 41, 22, 0.7); float:right;
 }

#close-btn:hover, #close-btn:focus{color:black; text-decoration:none; cursor:pointer; }

#simple-modal{
display:none;
box-shadow: 2px 2px 7px black;
width:100; height:750px;
background-color:rgba(247, 223, 186, 0.8);
margin-top:30px;
border-radius:7px;
position:fixed;
z-index:1;
overflow:auto;

}

#content{width:500px; background-color:rgb(99, 186, 194);
box-shadow: 1px 1px 5px black;
border-radius:7px;
margin:20px;
height:700px;
animation-name: modalfade;
animation-duration:2.5s;
background-image: url(cardgame-background.jpg);
}

#modal-para{margin:10px;font-size:20px; font-weight:bold;color:white;}

#modal-header{height: 80px; background-color:rgb(227, 215, 48); font-size:40px; font-weight:bold;text-align:center;text-transform:capitalize;border-radius:7px 7px 0px 0px;}


@keyframes modalfade{
from{opacity:0}
to{opacity:1}
}


#small-cards{margin-left:160px;}
#next, #previous{z-index:1;border-style:solid; border-radius:4px; border-width:2px; border-color:white; background-color:rgb(57, 162, 227); color:white; text-transform: uppercase;font-weight:bold; font-size:15px;margin-top:30px; box-shadow: 2px 2px 7px black;  }


/* second MODAL BOX - TWO*/


/* MODAL BOX code*/
#button-containerTwo{width:200px; margin:auto;}


#modal-containerTwo{width:90%; margin:auto;}

#close-btnTwo{font-weight:bold; font-size:60px; margin:10px;
color:rgba(245, 41, 22, 0.7); float:right;
 }

#close-btnTwo:hover, #close-btn:focus{color:black; text-decoration:none; cursor:pointer; }

#simple-modalTwo{
display:none;
box-shadow: 2px 2px 7px black;
width:100; height:750px;
background-color:rgba(247, 223, 186, 0.8);
margin-top:30px;
border-radius:7px;
position:fixed;
z-index:1;
overflow:auto;

}

#contentTwo{width:500px; background-color:rgb(99, 186, 194);
box-shadow: 1px 1px 5px black;
border-radius:7px;
margin:20px;
height:700px;
animation-name: modalfade;
animation-duration:2.5s;
background-image: url(cardgame-background.jpg);
}

#modal-paraTwo{margin:10px;font-size:20px; font-weight:bold;color:white;}

#modal-headerTwo{height: 80px; background-color:rgb(227, 215, 48); font-size:40px; font-weight:bold;text-align:center;text-transform:capitalize;border-radius:7px 7px 0px 0px;}


@keyframes modalfade{
from{opacity:0}
to{opacity:1}
}


#small-cardsTwo{margin-left:160px;}
#nextTwo{z-index:1;border-style:solid; border-radius:4px; border-width:2px; border-color:white; background-color:rgb(57, 162, 227); color:white; text-transform: uppercase;font-weight:bold; font-size:15px;margin-top:30px; box-shadow: 2px 2px 7px black; margin-left:10px; }

#scenarios{color:yellow;}
#dealer-hold{color:rgb(135, 222, 232);}
#instructions-el{margin-top:-10px;text-shadow: 3px 3px 4px black; color:rgb(247, 243, 5);}





#wins{display:flex; flex-direction: row; justify-content: space-around; height: 50px; width: 98%; margin-bottom: 53%;background-color: rgba(255, 255, 0, 0);}
#your-wins-el{display:inline;margin-right: 50px;margin-left: 40px;color:white;}
#dealer-wins-el{display:inline; margin-left:50px;color:white;}
.wins-span1{font-size:50px;text-shadow: 2px 2px 7px black; background-color: rgba(255, 255, 0, 0);}

.wins-talley{font-size:50px;margin-left:20px;color:rgb(245, 145, 5); text-shadow: 2px 2px 7px white;}

#info-container{display: flex; flex-direction: column; width: 100%; background-color: rgba(241, 229, 231, 0); height: fit-content; margin-top: 20%;} 

/* MODAL BOX - Three*/


/* MODAL BOX code*/
#button-containerThree{width:200px; margin:auto;}


#modal-containerThree{width:90%; margin:auto;}

#close-btnThree{font-weight:bold; font-size:60px; margin:10px;
color:rgba(245, 41, 22, 0.7); float:right;
 }

#close-btnThree:hover, #close-btn:focus{color:black; text-decoration:none; cursor:pointer; }

#simple-modalThree{
display:none;
box-shadow: 2px 2px 7px black;
width:100; height:750px;
background-color:rgba(247, 223, 186, 0.8);
margin-top:30px;
border-radius:7px;
position:fixed;
z-index:1;
overflow:auto;

}

#contentThree{width:500px; background-color:rgb(99, 186, 194);
box-shadow: 1px 1px 5px black;
border-radius:7px;
margin:20px;
height:700px;
animation-name: modalfade;
animation-duration:2.5s;
background-image: url(cardgame-background.jpg);
}

#modal-paraThree{margin:10px;font-size:20px; font-weight:bold;color:white;}

#modal-headerThree{height: 80px; background-color:rgb(227, 215, 48); font-size:40px; font-weight:bold;text-align:center;text-transform:capitalize;border-radius:7px 7px 0px 0px;}


@keyframes modalfade{
from{opacity:0}
to{opacity:1}
}

a{z-index:2;}

#small-cardsThree{margin-left:160px;}
#previousTwo, #close-modal{z-index:1;border-style:solid; border-radius:4px; border-width:2px; border-color:white; background-color:rgb(57, 162, 227); color:white; text-transform: uppercase;font-weight:bold; font-size:15px;margin-top:30px; box-shadow: 2px 2px 7px black; margin-left:10px; }

#scenarios{color:yellow;}
#dealer-hold{color:rgb(135, 222, 232);}
#linkedin{color:yellow}
#note{font-style:italic;font-size:23px;}
#note-color{font-weight:bold; color:rgb(194, 244, 170);}



#mute-btn{display: none; width:50px; height:50px; border-style:solid; border-radius:7px; border-width:3px; color:black; text-transform: capitalize;font-weight:bold; font-size:20px; box-shadow: 2px 2px 7px black;  position:fixed; margin-top:0px; background-image: url('audio.jpg'); background-size:50px 50px;z-index: 0;}

#mute-btn:hover{ background-color:rgb(240, 55, 38); box-shadow: 1px 1px 2px black; cursor:pointer; box-shadow: 1px 1px 3px black;}

#mute-btn2{display: none; width:50px; height:50px; border-style:solid; border-radius:7px; border-width:3px; color:black; text-transform: capitalize;font-weight:bold; font-size:20px; box-shadow: 2px 2px 7px black;  position:fixed; margin-top:0px; background-image: url('audio off.jpg'); background-size:50px 50px; z-index: 1;}

#mute-btn2:hover{ background-color:rgb(240, 55, 38); box-shadow: 1px 1px 2px black; cursor:pointer; box-shadow: 1px 1px 3px black;}

  /* changes for different screen sizes and orientations*/
  @media (orientation: landscape) {
    body{width: 100%; height: 100%; background-color: rgb(170, 246, 163);}
    #blackjack-container{ background-image: url(cropped-table\ -\ landscape.jpg); width: 80%; 
        height: 100%;  padding-bottom: 10px;}
#wins{background-color: rgba(255, 0, 0, 0); width: 100%; margin-bottom:5%}
#info-container{ background-color: rgba(255, 0, 0, 0); height: 20%; margin-top:2% ;}

   
  }



  /*
  CODE FOR STATIC ROTATION OF SCORE CARDS

  .scores{
   
    transform: perspective(400px) rotateX(55deg);
  }
  
  animation would go something like 

  for card back
transform: perspective(400px)
  0% rotateX(0deg)
  50% rotateX(45deg)
  100% rotateX(90deg)

  for card value image
  transform: perspective(400px)
  0% rotateX(90deg)
  50% rotateX(135deg)
  100% rotateX(180deg)
  
  
  */