*{
margin:0;
list-style-type: circle;

}

img{display: block;}



.cardEl{
height: 15vw;

}





.hide{

   display: none;
}



#button-div{width: 20vw; height: 10vw;
margin: auto;
margin-top: 5vw;
}


#deal-btn{
text-transform: uppercase; 
font-weight: bold; 
width: 10vw; 
height: 5vw;
}



.highlight{
 outline: 3px solid red;
 outline-offset: 3px;
 border-radius: 7px;
    
}

/* styling for card piles*/
.piles{
height: fit-content;
width: 12vw;
border: 1px solid black;
opacity: 1;
margin-top: 3vh;
padding-bottom: 2vh;
justify-content: center;



}



/* we'll add this class to highlight the card for when it is being dragged. */

.dragging{
border: 2px solid red;
}

.enter{

    outline: 2px solid blue;
    outline-offset: 2px;
}



#piles-div{
width: 50vw;
min-height: 64px;
display: flex;
margin: auto;
margin-top: 5vh;
justify-content: space-around;

}

.face-up{
    outline: 2px solid blue;

}

.multiple{

    opacity: 0.1;
}
.card-size{

    opacity: 1;
    height: 12vw;
}

.multi-style{

outline: 2px solid red;

}