
h1{color: rgb(245, 223, 23);font-weight: bold; font-size: 60px; letter-spacing:5px;text-shadow: 2px 2px 2px rgb(15, 14, 14);}


footer{color: rgb(241, 219, 13); margin: auto; margin-top: 50px; width: 500px; height: 200px; text-align: center; font-size: 23px; margin-top: 100px;}

body{background-image: url('metal.jpg');}

.headpara{text-align: center;}




.time-el{ width: 140px; height: 140px; background-color: rgba(19, 43, 89,0.9); color: white; border-radius: 10px;font-size: 100px; font-family: 'Anton', sans-serif; letter-spacing:5px; text-align: center; box-shadow: 3px 3px 7px rgb(10, 10, 10);}

#clock-el{display: flex; justify-content: space-around;}
#clock-container{width: 530px; height: 150px; margin: auto;}


#date-el{display: flex; justify-content: space-around;}
#date-container{width: 530px; height: 150px; margin: auto;}

#month{ width: 170px; height: 140px; background-color: rgba(19, 43, 89,0.9); color: white; border-radius: 10px;font-size: 100px; font-family: 'Anton', sans-serif; letter-spacing:5px; text-align: center;}

.label{ width: 530px; color: white; font-size: 35px; text-align: center; font-weight: bold;}

#label-el{display: flex; justify-content: space-around;}

#label-container{width: 530px; height: 10px; margin: auto; margin-bottom: -35px; }
