
h1{color: rgb(250, 249, 249);font-weight: bold; font-size: 60px; letter-spacing:5px;text-shadow: 2px 2px 5px rgb(15, 14, 14);}


footer{color: rgb(0, 0, 0); margin: auto; margin-top: -20px !important; width: 500px; height: 30px !important; text-align: center; font-size: 23px; font-weight: bold;}

body{height: 620px;}

.headpara{text-align: center; margin-bottom: -50px; margin-top: -20px;}

.date-time-container{background-image: url('clock dark cropped.jpg'); width: 410px; height: 680px; margin: auto; border-radius: 15px;text-shadow: 1px 1px 4px rgb(15, 14, 14); box-shadow: 3px 3px 7px rgb(10, 10, 10);}







#date-el{display: flex; justify-content: space-around;}
#date-container{width: 530px; height: 150px; margin: auto; display: none;}

#month{ width: 170px; height: 140px; background-color: rgba(19, 43, 89,0.9); color: white; border-radius: 10px;font-size: 100px; font-family: 'Anton', sans-serif; letter-spacing:5px; text-align: center;}

.label{ width: 530px; color: rgb(248, 232, 10); font-size: 35px; text-align: center; font-weight: bold;}

#label-el{display: flex; justify-content: space-around;}

#label-container{width: 530px; height: 10px; margin: auto; margin-bottom: -35px; margin-top: -20px; display: none;}

#dayname-container{ width: 500px; height: 100px; margin: auto; border-radius: 7px; background-color:rgba(76, 160, 172, 0.75); color: white; margin-top: 100px; margin-bottom: -90px; display: none;}

.dayname-el{font-size: 70px; font-family: 'Anton', sans-serif; letter-spacing:5px; text-align: center; text-transform: capitalize;}


/*  elements for clock onlyl - no seconds  */
#clock-el{display: flex; flex-direction: column; justify-content: space-around; align-items: center;}
#clock-container{width: 400px; height: 150px; margin: auto; margin-top: -290px;}
#sec{display: none;}
.time-el{ width: 300px; height: 300px; background-color: rgba(19, 43, 89,0.9); color: white; border-radius: 10px;font-size: 200px; font-family: 'Anton', sans-serif; letter-spacing:5px; text-align: center; box-shadow: 3px 3px 7px rgb(49, 149, 216); margin-bottom: -170px;}


@media (orientation: portrait) {
    body, html{height: 100%; width: 100%;}

    .time-el{ font-size: 350px;
        width: 80vw; height: auto;
        margin-bottom: -70%;    
    }

    #clock-container{ margin-top: -60%;}

    .date-time-container{width: 100%; height: 100%;}

    footer{ margin-top: -20px !important; width: 500px; height: 30px !important;}

}
