body{width: 100vw;
    height: 100vh;
   background-image: url(./15\ piece\ puzzle\ background.png);
}

/* container for moves counter*/
#counter-container{
    background-color: rgb(192, 183, 183);
    border-radius: 10px;
margin: auto;
height: fit-content;
max-width: 30%;
outline:4px solid rgb(255, 255, 255);
outline-offset: 4px;
}

#counter{

    font-size: 40px;
    font-weight: bold;
color: white;
    text-align: center;
}

#puzzle-and-indicator{
    width: 60%; height: fit-content; display: flex; flex-direction: row; background-color: rgba(240, 255, 255, 0);
    justify-content: space-around; margin: auto; margin-top: 4%;
}
#puzzle-body{display:grid; 
grid-template-columns: repeat(4, 50px);
grid-gap:3px;
grid-template-rows: repeat(4, 50px);
width:fit-content;
padding: 5px;
background-color: rgb(127, 218, 218);
padding: 2vw;
border-radius: 6px;
border: 1px solid black;

grid-template-areas:


"one two three four"
"five six seven eight"
"nine ten eleven twelve"
"thirteen fourteen fifteen sixteen";
}




/*  default position for numbers, maybe we can change this at the beginning of the game and perhaps even randomize it later*/
#one{ grid-area:one;}
#two{ grid-area:two;}
#three{ grid-area:three;}
#four{ grid-area:four;}
#five{ grid-area:five;}
#six{ grid-area:six;}
#seven{ grid-area:seven;}
#eight{ grid-area:eight;}
#nine{ grid-area:nine;}
#ten{grid-area:ten;}
#eleven{grid-area:eleven;}
#twelve{grid-area:twelve;}
#thirteen{grid-area:thirteen;}
#fourteen{grid-area:fourteen;}
#fifteen{ grid-area:fifteen;}
#sixteen{ grid-area:sixteen;}

#puzzle-container, #progress-element-container{width: fit-content; height: fit-content;padding: 2vw; background-color: rgba(18, 18, 128, 0.767);margin: auto;margin-top: 1vw; border-radius: 10px; box-shadow: 2px 2px 4px black;}
/* button styling */
button{background-color:black; color:white; border-radius:5px; border-style:hidden; box-shadow: 1px 1px 2px rgb(8, 8, 8); font-size: 30px; height: 45px; width: 45px; }
button:hover{cursor: pointer;}



.square-containers{background-color:white;padding: 1px;}
#progress-bar-one{background-color: white;}
.draggable{

background-color: red;
}



#progress-element{display:grid; 
    grid-template-columns: repeat(4, 50px);
    grid-gap:3px;
    grid-template-rows: repeat(4, 50px);
    width:fit-content;
    height: fit-content;
    padding: 5px;
    background-color: rgb(66, 242, 81);
    padding: 2vw;
    border-radius: 6px;
    border: 1px solid black;
  
    }


.indicator-containers{background-color: white;}




.hide{
opacity: 0;

}

.move-right{

    transform: translateX(53px);
}

#message-container{
        height: 7%;
        width: 90%;
        margin: auto;
        margin-top: -2vw;

    }
    
    #message-el{font-size: 45px; 
        font-weight: bold; 
        color: white;
        text-align: center;
        text-shadow: 2px 2px 4px black;
    }

    #highscore-container{
        height: fit-content;
        width: 70%;
        margin: auto;
        margin-top: -2vw;
        display: none;
    }

    #high-score{
        font-size: 35px; 
        font-weight: bold; 
        color: rgb(251, 255, 0);
        text-align: center;
    }

    #scoreclear-container{
        height: fit-content;
        width: 14vw;
        margin: auto;
        margin-top: 2vw;
        display: none;
        background-color: blue;
        padding: 5px;
        border-radius: 5px;
            }

        #score-clear-btn{
            background-color: rgb(200, 198, 198);
            height: 6vw;
            width: 14vw;
            margin: auto;
            font-size: 20px;
            color: white;
            font-weight: bold;
            font-size: 22px;
            background-color: red;
            box-shadow: 1px 1px 3px black;

        }

    #button-container{
        margin-top: 2vw;
        height: 6vw;
        width: 15vw;
        margin: auto;
  
       
    }
    #mix-btn{
        background-color: rgb(200, 198, 198);
        height: 6vw;
        width: 14vw;
        margin: auto;
        font-size: 20px;
        display: block;
        color: black;
        font-weight: bold;
        font-size: 22px;
        
    }

    #chip-container{width: fit-content;
        position: absolute;
    height: 5vw;
    margin: auto;
    background-color: rgba(0, 0, 255, 0);
    }

    .bars{ width: 2vw; height: 3vw;  background-color: rgb(252, 252, 249);border: 1px solid black; margin-top: 30px;}


    #progress-bar{width: 34vw;
        height: 4vw;
        margin: auto;
           display: flex;
    justify-content: space-around;
    background-color: rgba(0, 0, 255, 0);
    }

 @media (orientation:portrait){
    #puzzle-and-indicator{
        width: 80%; height: fit-content;  margin-top: 4%;
    }

 }