



body{width: 100vw; height: 100vh; background-image: url(./image\ app\ body\ background.png); }

#heading-container{width: fit-content;
  padding: 10px; margin: auto; 
  display: block; 
  background-color: rgba(205, 75, 75, 0.397);
   border-radius: 20px;
  margin-top: 2%;
  outline: 2px white solid;
outline-offset: 3px;
color: yellow;
text-transform: capitalize;
font-weight: bold;
  }



h2{font-weight: bold; }


#main-container{
position: relative; width: 30%; aspect-ratio: 3/2; margin: auto; 
display: flex; flex-direction: column; background-color: rgba(24, 118, 185, 0.627);; flex-direction: row; justify-content: space-around;
padding: 20px;
border-radius: 15px;
margin-top: 5%;
outline: 2px white solid;
outline-offset: 3px;
}

#dependent-cards-container{ position: relative; margin: 0px;
 width: 45.8%; height:100%; border: 2px solid rgba(0, 0, 0, 0); border-radius: 5px; background-color: rgba(72, 127, 0, 0.841);  
}

.rotation-container{height: 100%; width: 100%; background: rgba(255, 166, 0, 0); position: absolute;  perspective: 1000px;}

.dependent-faces{position: absolute; width: 100%; height: 100%; background-color: red; margin-bottom: 5px; border-radius: 10px;}




#front-front-el{background-color: rgba(172, 255, 47, 0); 
  transform: rotateX( 0deg );
background-image: url(./0-top.png);
background-size: 100% 100%;

}

#front-back-el{background-color: rgba(47, 175, 255, 0);
   transform: rotateX( 90deg );
   background-image: url(./2-bottom.png);
   background-size: 100% 100%;
  
  }

#back-back-el{background-color: rgba(251, 177, 17, 0); 
transform: rotateX( 0deg ); 
background-image: url(./0-bottom.png);
background-size: 100% 100%;

}

#back-front-el{background-color: rgba(248, 47, 255, 0); 
transform: rotateX( 0deg ); 
background-image: url(./2-top.png);
background-size: 100% 100%;

}




@keyframes rotateTop{
  from{transform: rotateX(0deg);}
  to{transform: rotateX(-90deg);}

  }

@keyframes rotateBottom{
  from{transform: rotateX(90deg);}
  to{transform: rotateX(0deg);}

  }


@keyframes reverseTop{
  from{transform: rotateX(-90deg);}
  to{transform: rotateX(0deg);}

}

@keyframes reverseBottom{
  from{transform: rotateX(0deg);}
  to{transform: rotateX(90deg);}

}













/* foooter styling  */
footer{display: none; color: white; background-color: rgb(43, 41, 41); padding: 4rem 2rem; display: none;}


/* footer content container*/
#content-container{
    display: flex; margin-bottom: 4rem;
      width: 90%;   font-weight:bold; font-size:20px; 
}

/* footer link contaners */
.footer-column{display: flex; flex-direction: column; flex-basis: 20%; flex-grow: 1; text-align: center; }


/* link styles */
footer a{color: white; text-decoration: none; line-height: 2rem;}
footer a:hover{color: orange; }

/* styles for social media icons*/
.fa-youtube{color: red; ;}
.fa-linkedin{color: #0073B1;}
.fa-facebook{color:#0C87EF ;}

.footer-social{font-size: 20px; margin-left: 2rem;}

/* footer bottom */
.footer-bottom{display: flex; background-color: white; border-radius: 1rem; height: 3rem; color: black; padding: 1rem; outline:0.2rem solid black ; outline-offset: -0.4rem;}
.footer-bottom span{margin-right: auto; font-size: 20px;font-weight: bold;}

h3{text-decoration: underline;}

#my-page{ color: white;}
#my-page-link{ font-size: 27px;}

/* styling for dev icon*/
#dev-icon{color: rgb(84, 243, 243);}

